#cabecalho {
    text-align: center;
    background-color: #21022d;
    color: white ;
    margin-top: -22px;
    margin-bottom: -10px;
    margin-left: -15px;
    margin-right: -12px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.descricao {
    margin-top: 8px;
}
#corpodapagina {
    background-color: #e2d8e7;
    margin-right: -12px;
    margin-left: 12px;
    margin-top: 24px;
}

.vitaminas {
    width: 150px;
    height: 150px;
}
.cardapio {
    margin-left: 16px;
    margin-top: 16px;
}
#vita {
    padding-left: 64px;
}
.lactose {
    text-align: center;
    margin-top: 64px;
}
.lac {
    width: 600px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 32px;
}
#rodape {
    background-color: #21022d;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}
